@import url('https://fonts.googleapis.com/css?family=Geo');

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

html { font-size: 1.5vh;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    width: 100vw;
    overflow: hidden;
}

body {
    overflow: hidden;
}

nav {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    margin: 5px;
    list-style: none;
    font-weight: bold;
    text-decoration-color: white;
    color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 100;
}

footer {
    margin: 0px;
    bottom: 0;
    width: 100%;
    list-style: none;
    padding: 0px;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    margin: 5px;
    list-style: none;
    font-weight: bold; 
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-decoration-color: black;
    color: black;
}

a {
    text-decoration: none;
    color: grey;
}



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.3em;
    line-height: 1.em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.text-black {
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.text-black-big {
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    padding: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    background-color: white;
  }

  .parallax__group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--front {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--front2 {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 2;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 100%;
  }

  #home {
    z-index: 5; /* slide over group 2 */
  }

  .title {
    position: absolute;
    top: 25%;
    left: 44%;
    font-size: 200%;
    margin-right: 20px;
  }
  
.pixels {
    font-family: 'Geo', sans-serif;
    font-size: 3.5em;
}

  .subtitle {
    position: absolute;
    top:15%;
    left:22%;
    font-size: 150%;
    color: red;
    font-family: 'Geo', sans-serif;
  }

    #intro-header {
    margin-bottom: 20px;
}

  #intro {
    z-index: 3; /* slide under groups 1 and 3 */
  }

  .intro_background {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255,255,255) 100%), url("https://www.dropbox.com/s/rbh2y1kjx0yyqaa/mario-land-white-background.jpg?raw=1");
    height: 90%;
      background-repeat: no-repeat;
          -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
   }


  .intro_heart {
    position: absolute;
    left:5%;
    width: 100%;
  }

  .heart {
    width: 15%;
  }

  .intro_text {
    position: absolute;
    top: 15%;
    left:10%;
    color:white;
    margin-right: 40px;
    text-align: justify;
  }

  .intro_star {
     position: absolute;
    top:70%;
    left:80%;
  }

 .star {
    width: 75%;
  }

    #story-header {
    margin-bottom: 20px;
}

.text-white {
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
}

.text-white:hover {
    text-decoration:underline;
}

.gallery {
    Position: relative;
    Width: 100%;
    Height: 100vh;
    background: white;
}

.gallery-scroll-track {
    position: Absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.gallery-container {
    position: relative;
    top: 0px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border: solid lightblue 5px;

    
}

.gallery-track {
    display: flex;
    align-items: center;
    width: 500%;
    height: 100%;
    position: relative;
    margin-top: 50px;
}

.gallery-img {
    margin: 5px;
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    
}

.gallery-img-alt {
    margin: 10px;
    width: 20px;
    height: 70vh;
    border-radius: 5px;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.gallery-img1 {
    background-position: 50% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    flex: 1;
    height: 80%;
    width: 80%;
    position: center;
}

.gallery-text {
    color: white;
    padding: 10px; 
    margin-bottom: 10px;
    font-size: 70%;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.my-story {
    padding-right: 30px;
    padding-left: 10px;
    text-align: justify;
}

  #story {
    z-index: 4; /* slide over group 2 and 4 */
  }

#ambition {
    height: 200vh;
}
#ambition-header {
    margin: 0px 20px 20px 20px;
}

  .ambition_text {
    position: absolute;
    width: 100%;
    margin-right: 20px;
      text-align: center;
  }

  .ambition_box1 {
    text-align: justify;
    margin: 20px;
    padding: 0px 20px 0px 20px;
    border: solid lightblue 5px;
    background: white;
    border-radius: 10px;
    transition: opacity .2s, background. 2s, color .2s, visibility .2s;
  }

.ambition_box1:hover {
    background: lightblue;
    color: white;
    opacity: 1; 
}

  .ambition_trophy {
    position: absolute;
    top:15%;
    left:65%; 
    width: 100%;
  }

  .trophy {
    width: 18%;  
  }

  .ambition_1up {
    position: absolute;
    top:60%;
    left:42%;
    width: 100%;
  }

.one-up {
    width: 20%;
}

  #info {
    z-index: 1; /* slide under group 3 and 5 */
  }

.info_text {
    margin: 20px;
    position: absolute;
    top: 10%;
}

.info_subtext {
    position: absolute;
    width: 100%;
    top: 22%;
    left: 35%;
    text-align: center;
}

.info_links {
    position: relative;
    width: 25%;
    margin: 10px;
    background: none;
}



  .info_cherries {
    position: absolute;
    top:90.5%;
    left:52%;
      width: 100%;
  }

.cherries {
    width: 21%;
}

  .info_pacman {
    position: absolute;
    top:65%;
    left:24%;
      width: 100%;
  }

.pacman {
    width: 25%;
}



.img {
    display: block;
    width: 100%;
    height: auto;

}

.container {
  position: relative;
  width: 100%;
    
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(173,216,230,0.85);
    border-radius: 10px;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    width: 80%;
    font-size: 1.2em;
    
}

.image {
    width: 100%;
    border-radius: 10px;
}

.image-small {
    width: 50%;
    border-radius: 10px;
}

.image-small:hover {
    opacity: 0.5;
}

.text-link {
    color:black;
}

.text-link:hover {
    text-decoration: none;
    color: grey;
}

.video-container {
position: relative;
padding-bottom: 56.25%;

    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
    border-radius: 10px;
}

